* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1F2937;
    display: flex;
    flex-direction: row;
    flex: auto;
    justify-content: space-between;
    height: 70px;
    width: auto;
    margin: 0;
    padding: 0;
    border: 0;
}

.header div {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 7px 50px;
}

.header a {
    font-size: 18px;
    font-weight: normal;
    color: #E5E7EB;
    text-decoration: none;
}

.section-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    background-color: #1F2937;
    gap: 80px;
    padding: 50px;
}

#title {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.section-1 p {
    font-size: 18px;
    color: #E5E7EB;
    font-weight: lighter;
    margin-top: 5px;
}

.section-1 .button {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 10px;
    padding: 5px 20px;
    margin-top: 5px;
    border: 0;
}

.section-1 .subsection-1-text {
    width: 400px;
    height: 200px;

}

.section-1 img{
    width: 400px;
    height: 200px;
}

.section-2 {
    margin: 0;
    padding: 50px;
    display: flex;
    flex-direction: column;
}

.section-2 div {
    font-size: 32px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
}

.section-2 .cart-conteiner {
    margin-top: 20px;
    display: flex;
    gap: 20px;
    align-content: center;
    justify-content: center;
}

.section-2 img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    border: 3px solid #3882F6;
}

.section-2 p {
    font-size: 15px;
    font-weight: 50;
    color: grey;
}

.section-3 {
    background-color: #E5E7EB;
    align-items: center;
    justify-content: center;
    padding: 70px;
}

.section-3 .quote {
    font-family: light italic;
    font-size: 36px;
    color: #1F2937;
    margin-left: 50px;
    margin-right: 50px;
}

.section-3 .quote-author {
    font-weight: bold;
    color: #1F2937;
    text-align: right;
    margin-right: 250px;
    font-size: 20px;
}

.section-4 {
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 50px;
}

.conteiner {
    display: flex;
    flex-direction: row;
    background-color: #3882F6;
    border-radius: 6px;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    width: 600px;
}

.conteiner .texts {
    margin-left: 20px;
    color: #F9FAF8;
}

.texts .sign-up-title {
    font-weight: bold;
    font-size: large;
}

.texts .sign-up-p {
    font-weight: lighter;
    font-size: smaller;
}

.conteiner button {
    margin-right: 60px;
    background-color: #3882F6;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #E5E7EB;
    color: #E5E7EB;
    font-weight: bolder;
}

.footer {
    background-color: #1F2937;
}

.footer div {
    color: #F9FAF8;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}